.toast {
  position: absolute;
  inset: 0;
  margin: auto auto 30px;

  width: 380px;
  height: fit-content;
  border-radius: 8px;

  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 0 0.75em;
  padding: 1em;

  .toast-icon {
    grid-row: span 2;
    svg {
      width: 24px;
      height: 24px;
      display: inline-block;
    }
  }

  .toast-title {
    font-size: 0.875em;
    font-weight: 800;
  }

  .toast-body {
    margin-top: 0.5em;
    font-size: 0.75em;
  }

  &.success {
    background-color: #e0f3ef;
    .toast-icon {
      color: #34d399;
    }
    .toast-title {
      color: #065f46;
    }
    .toast-body {
      color: #047857;
    }
  }

  &.warning {
    background-color: #f1f1e5;
    .toast-icon {
      color: #fbbf24;
    }
    .toast-title {
      color: #92400e;
    }
    .toast-body {
      color: #b45309;
    }
  }

  &.update {
    background-color: #e2ecf7;
    .toast-icon {
      color: #60a5fa;
    }
    .toast-title {
      color: #1e40af;
    }
    .toast-body {
      color: #1c51b9;
    }
  }

  &.error {
    background-color: #efe7ea;
    .toast-icon {
      color: #f87171;
    }
    .toast-title {
      color: #92400e;
    }
    .toast-body {
      color: #b45309;
    }
  }
}
