.main {
  --wrapper-direction: column;
  --wrapper-gap: 2.6em;
  margin-top: 4em;
  text-align: center;
}

.instructions {
  font-size: 1.4rem;
  line-height: 1.6;
}

.feedback {
  align-self: stretch;

  h2 {
    min-height: 80px;
    padding: 0.8em;
    border-radius: 4px;
    font-size: 1.8rem;
    font-weight: 800;
  }

  h2.farewell {
    background-color: rebeccapurple;
    color: whitesmoke;
    outline: 2px dashed #000;
  }

  h2.won {
    background-color: darkgreen;
    color: whitesmoke;
  }

  h2.lost {
    background-color: tomato;
    color: black;
  }
}

.canvas {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.chipset-wrapper {
  max-width: 450px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2px;

  span {
    position: relative;
    font-size: 1rem;
    font-weight: 800;
    padding: 0.4em 0.8em;
    border-radius: 4px;
  }

  span.lost::before {
    content: "💀";
    height: 100%;
    width: 100%;
    font-size: 0.85rem;
    background-color: rgba(0, 0, 0, 0.7);

    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.result-wrapper {
  display: flex;
  justify-content: center;
  gap: 4px;

  span {
    text-transform: uppercase;
    background-color: #aeaeae22;
    border-bottom: 2px solid var(--border, #aeaeae);
    font-size: 2rem;
    line-height: 2.4;
    width: 80px;
    aspect-ratio: 1/1;

    &[data-status="false"] {
      color: tomato;
      --border: tomato;
    }

    &[data-status="true"] {
      color: limegreen;
      --border: limegreen;
    }
  }
}

.input-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.4em;

  button {
    background-color: #fcba29;
    border: 2px solid var(--clr-bg);
    text-transform: uppercase;
    padding: 0;
    width: 60px;
    font-weight: 800;
    aspect-ratio: 1/1;

    &[data-status="true"] {
      background-color: limegreen;
      &:hover {
        --box-shadow--clr: limegreen;
      }
    }

    &[data-status="false"] {
      background-color: tomato;
      &:hover {
        --box-shadow--clr: tomato;
      }
    }

    &[disabled] {
      color: black;
      cursor: not-allowed;
      opacity: 0.6;
      &:active {
        transform: none;
      }
    }
  }
}

/* Animation */
.anim-slide-down {
  animation: slide-down 300ms ease-in-out;
  animation-direction: reverse;
  animation-fill-mode: forwards;
  animation-delay: 1000ms;
}

@keyframes slide-down {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }

  100%,
  50% {
    transform: translateY(0);
    opacity: 100;
  }
}
