.wrapper {
  max-inline-size: 1200px;
}

.main {
  position: relative;
}

.main__cover {
  min-block-size: 20vh;
  background-color: rebeccapurple;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .heading {
    color: #fff;
    font-size: 2.6rem;
    font-weight: 900;
  }

  .btn {
    font-size: 1rem;
    font-weight: 800;
    outline-offset: 2px;
    outline-width: 2px;
  }
}

.main__search {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);

  .form {
    background-color: var(--clr-bg--mute);
    color: var(--clr-txt);

    display: flex;
    inline-size: 80vw;
    min-inline-size: fit-content;
    border-radius: 8px;

    .icon {
      opacity: 0.6;
      margin-inline: 1em;
      inline-size: 20px;
      aspect-ratio: 1/1;
    }

    input,
    button {
      color: currentColor;
    }

    input {
      flex: 1 1 auto;
      font-size: 1.4rem;
      padding: 0.6em;
      background-color: transparent;
      border: none;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;

      &:focus {
        outline: 1px solid var(--highlight-color);
      }
    }

    button {
      background-color: hsl(from var(--clr-txt) h s l / 0.2);
      font-size: 1rem;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.main__content {
  min-block-size: 600px;
  display: grid;
  place-items: center;
}

.watermark {
  color: var(--clr-txt);
  font-size: 1.2rem;
  font-weight: 900;

  text-transform: uppercase;
  letter-spacing: 2px;
  opacity: 0.2;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.4em;

  user-select: none;
  pointer-events: none;
}

.card--movie {
  padding-block: 2em;
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 12px 24px;

  .poster {
    grid-row: 1/4;
    place-self: center;
    border-radius: 4px;
  }

  .wrapper--details,
  .wrapper--heading,
  .description {
    grid-column-start: 2;
  }

  .wrapper--heading {
    display: flex;
    align-items: center;
    gap: 6px;

    .heading {
      margin-right: 4px;
      font-size: 1.125rem;
      font-weight: 600;
    }

    .rating {
      font-size: 0.75rem;
    }
  }

  .wrapper--details {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 0.75rem;

    .btn {
      color: var(--clr-txt);
      font-size: inherit;
      font-weight: 500;
      margin-left: 10px;
      padding: 2px 0;
      background-color: transparent;

      display: flex;
      align-items: center;
      gap: 4px;
    }

    .icon {
      inline-size: 16px;
      block-size: 16px;
    }
  }

  .description {
    color: hsl(from var(--clr-txt) h s l / 0.8);
    max-block-size: 3lh;
    max-inline-size: 50ch;
    font-size: 0.875rem;
    line-height: 1.4;

    overflow: clip;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}
