.wrapper {
  max-inline-size: 1200px;
}

.main {
  position: relative;
}

.icon {
  display: inline-block;
}

.icon.icon-sm {
  inline-size: 16px;
  block-size: 16px;
}

.main__content {
  padding-block: 2em;
  min-block-size: 600px;
  inline-size: 80vw;
  min-inline-size: fit-content;
}
