.main__search {
  align-self: center;
  inline-size: 80vw;
  min-inline-size: fit-content;

  .form {
    background-color: var(--clr-bg--mute);
    color: var(--clr-txt);
    display: flex;
    border-radius: 8px;
    outline: 1px solid hsl(from var(--clr-txt) h s l / 0.2);

    .wrapper__content {
      display: flex;
      align-items: center;
      flex: 1;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;

      &:focus-within {
        outline: 1px solid var(--highlight-color);
      }
    }

    .icon {
      opacity: 0.6;
    }

    .icon--search {
      margin-inline: 1em 0.4em;
      width: 24px;
      height: 24px;
    }

    input,
    button {
      color: currentColor;
    }

    input {
      flex: 1 1 auto;
      font-size: 1.4rem;
      padding: 0.6em;
      background-color: transparent;
      outline: none;
      border: none;
    }

    .btn[type="submit"] {
      background-color: hsl(from var(--clr-txt) h s l / 0.2);
      font-size: 1rem;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    .btn[type="reset"] {
      background-color: transparent;
      margin-inline: 6px;
      padding: 0;
      border-radius: 50%;
      width: 40px;
      height: 40px;

      &:hover,
      &:focus {
        outline: none;
        box-shadow: none;
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
  }
}
