.banner {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 0 0.75em;
  padding: 1em;
  border-radius: 6px;

  .banner-icon {
    grid-row: span 2;
    width: 1em;
    height: 1em;
    display: inline-block;
  }

  .banner-title {
    font-size: 0.875em;
    font-weight: 800;
  }

  .banner-body {
    margin-top: 0.5em;
    font-size: 0.75em;
  }

  &.success {
    background-color: #e0f3ef;
    .banner-icon {
      color: #34d399;
    }
    .banner-title {
      color: #065f46;
    }
    .banner-body {
      color: #047857;
    }
  }

  &.warning {
    background-color: #f1f1e5;
    .banner-icon {
      color: #fbbf24;
    }
    .banner-title {
      color: #92400e;
    }
    .banner-body {
      color: #b45309;
    }
  }

  &.update {
    background-color: #e2ecf7;
    .banner-icon {
      color: #60a5fa;
    }
    .banner-title {
      color: #1e40af;
    }
    .banner-body {
      color: #1c51b9;
    }
  }

  &.error {
    background-color: #efe7ea;
    .banner-icon {
      color: #f87171;
    }
    .banner-title {
      color: #92400e;
    }
    .banner-body {
      color: #b45309;
    }
  }
}
